# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
API_KEY=1d1941d9f349ace35796e2ed412b37db
API_TOKEN=d91c8f38f02a25de3bdfefdea1f35101903459fc2ea074df480d3cd1612ab749
BOARD_ID=5f47b99879148b8cdd9eb15a

