env:
  global:
  # Mongo 
    - secure: "ZTW1mHr/JgXRJqHmEMB9dU1HRbR4X2cFbSxZDFY1LDiNm/s8KZ4npJb6rJx3s7+GFODfqskHPTXp3bHouhBVeCl58zLKNZub3cIGtvoyJE0i5X6m2gAPsFlMdkNK0/3kiBmqWj23kU7z5owtlf18q7ELbXaK8S1ieq553J7LabU3munO4nw0iX5CzApzx8/ld2rpDYbLBrtdsbkXt0xKDIXkKt9r4VB4XWsVStKB+7I96kOnBGwp6YJx3z+8FdVur8+Jf6OvFflDdMMGsGfxuIob502X2lKFsFVXQgOGwiOmGg7BjdC7oarc3mb/1EDjSgTA9cvar+4rbyquGvXCToCapgDK7uZWXkRGqWPwR7y0TdgGNW9/Yurwt0ghbyRam3z4+zOLnyUDu+8pXcRqSYVkLtXv9+PyoVk+z8Zts1CC8avCuuah7nLMSqTZrCphdWcpbs4TnUfWY+/8aqjIytOYfvzANGsjhS7lZ1T1FcHOXoOdLx87C9E6YLcAE/jOij4hMowX2g5gvIQyXOebv8Yj6Bd90d6AfptjmWaF5uts50W/5Pdoe4+BoWI24lKSgzHVYhAW2zgdj88e18S/JkbMmB6NEM8mylRbPbeOjNX9DYOSR9Ad/cqm7c14VEi2LkwhCa05gKobm9I1D4SxhYaWpAlbF5MUvkHEuKvSIUE="
    - MONGO_DB_NAME: DevOps
    - MONGO_LIST_TODO: todo
    - MONGO_LIST_INPROGRESS: inprogress
    - MONGO_LIST_DONE: done
  # Docker
    - secure: "xxUmhWPB0MLv7DrKeLrt7Q5eNOjSFOL1phnaLLdmvipKBz12eCzgRiAhCmXWroMe4diIaodvcgKgc32kMwiNXaAVGuSOdTs04vRPB5YyGJSQn0BcFuVfBHH+ZPdtLDHzMB/toC1Nk/vF9cUGPvBPA1wDlxbFuEP7ARFUzdfhANIttNB2PVpWOAEWRBFceCpmcKzonhyRKCHZUO1rn64hzTMHJJbPKrpeDDrlJKwIlCSL3JzmuLxZ7cAGoLwQ2irAat6ZX+o+E4L042/+/AFmmlW9AouGHhEACqL9HhzZ1Z7p7SDYV3c6yXQ75j/HpW5RtaJWywEO1aX7Kk0q9mcWjH/X+rlPhtIaUmxFhQyrw9wW6KphQSxIDUYD6bivEWtdwGxPSYQWeO0GczXDv8/dw+mtz8i0/MfsGzUXadmy8F/zvhxSMx5WwaKvleBzLpbuKxXO4BCxcpgXofECByqTdi00NogwEaQOgm+0YU90cl0bvDEqqGP/kDqsR0Q0ZPBiK3+ckrnJrqMnPYCo3eBDKaVVT6PWDSACfVo0xdTxmS0KJWVnAXsYBz8hOr8v0nkiTD3GL/fUZe1wNQO+3T1oRPeYB+Lj7A/WzMcGCBomcyzeW3a4oxCaiRAA4MMS5QFIX9K5NWvSage9NzCJux2dFDU9UgPj8Dylby94Fu4wlBY="
    - secure: "J61/KUCNGuWiZ6kiZDMjcKWFXGfnluE2+umVV8zgKX0MmGMv5ZyB1QIBNgQi72UUZSrvCUFh+lf77t7SgdHVM2hrsAITgFraFIl3Cyd3nfSoyoI2g7clhtar3rOovyg+hmScVDy96xeIgbT+DOzdEqKw5AEanQO9wZxI+X6jUcqOJsj8dTVPJwaNOfQ/416qQxGQXKQMyBRn9N6e/Im0UmpfifqYLvnWK5+ELhxuFNs7ZZd/nzQRgA97u9ytDzHC1SIIK2LPLgn64IaiBdau8jWqD2PiveYlKzLEAu7aiDkLF7KUcOkh8Q3UUbf0sJt3IO0TJRUe0hdvcbpHpgHHQlTdKUuTVijpN9spdWobuLIp1QUug+zv1vlFUvypt1wR80wmiv9xFPYHrOvV7hTksNReo6yDeIE2H/YSLQSSKJaWfvT9vXDxMj4aNb3UVWp0FTdmd4d0xFG94pxYImXI/ZyzFqPES33MDDSC8ffIJfyX9MmNsEl3e6PaeWrgulp4Nkhene25R+kLrosqw+cTPoc92Hctm6zndrbUVeiywBPbRjXiEWakJ2MDzAqzd4GP/1tuxIL1YY8MOpKw4SNV19Ke1ywy59iRAb8GY4nj66aQOgErOdkGla8s69KJrr221rh4PusisYDRrirMev4MS0b68snxNjcN0FEk+IBvlL4="
  # Heroku
    - herokuapp: rajrahmantodoapp
    #apikey
    - secure: "DKYA4sYt6Qet39+erw7L/RMSgBp3Up0KUk51SUnddzZAizg3wWy+vrWyjM6PN/B4AtlKpYiJORf0ENvMtLO6q0IiT0aM3u+Ha7CDgcG10F8cBYvQSVhUh5BXoX4+bsjn3D7e+ldTAfMOzqrHDUIVsi1xe2Mog6HNSlHu+MW6Q+UtFAQ8Q7qBS2zknVXLhtkzoMw64czqvAuM8TXFi+fSOeeWlbZx9fYlZmieLZ2giOClb8+3Y+e/zGS2EmWtD1Welb7byjJUh4Vq7k0lvWDQy80z1K1AHBuJI4BHvoJ8Zlup51P9OhfOblbpDCvU+L78rYsHLnPwLablak0nxdcuxbtKsv/kMl22hXt2ZLNb4C9x5WYbhCgPy1Ur2o9D+Tj/4VT5qo4HO0UPdPeL/2m5j8sFjk3MB2zYx6UEGrv79CKZ7EZJwGdcswijGGva+/e5CIVk7svZM6gQJfmoDrHmCFSbkPkcDX/cgtgakOS1CH5Kx5O6e6vOx2vGAcMAqxpv4LWP6pVzAbhmuwE46FyvA8M+CfzYsnWYRz4lqnVQxjf2RRIIhZ/idrSHc0Qgs1MWrvsZX2YPUc2jU38pInQMVh+2VFjuRjBW2f6T/so+CgcSEeW62Sl3epwsuHYodbI7Nqb9X5auwbS80xlO8XUu4LECY7x9NUrOsaUTMSU7hPU="
    #heroku_login
    - secure: "J6O8nLCQq8Qr4fkXRtd9kc0kp5UNymXcWZk6d2j/SGHWLiNxsgkGNVOMv8L5SqYCx5GfmUC7Tvag72f8+TIc2BiznlCAgia5kXY2syWxhwxhT5bvXXGoRL9j53W20FvjHWwUMiwTnqV4d+1eSpqWGoWCtd/kT5XiGgXQW3I2d6R4OzhOjNR2UcZEYhu3U6o5Zn5pZPzfFgaqMdk6iKoa5KFwBR+1wLJYOndlp0SlsNBjbtnDfy2GrqeZiEIjnn3HjyhPkAqWBtEGkut167JVYQRbJ1mC+puStpZeK0oRBh4Um5i9ufYCKnOqi/lRmH6oD8hHPXRY2P2ZlY4c1FcfflseoT36/Zlh78/LZBKVSFd0Z/LYPr3eWylHF+0gfbxA4zda+cgcVlPiOgt52OZopk3RQm19CHnMQSAuxhCpCii+zDB9dYJ+dA5+TtWCF1XEx1G4efNFDJIFw6A/ix5Pu+/vHdkA0XJnQd5WXPuHJmdKKN5NaRA2TiHeS2rwJhWLm+zKCfTBhCWyxMHHUOmq2P/IejeAXab1Fcq7t4oOmX86UXUkAc6lyCmH8QcG36uYYKqZbRDk4lvy0HEOnp1MdX1yuAr4SrUjfYixrAq846DASyszgp2Ou6m8WtpcVGx+qz6Hh/ByfrTM2YCkOSBndj7Jkc7d933AfYjf/4puIVI="
  # Azure
    # mongo_connection
    -   secure: "dzmE/aKOVLaJ0lum3hq1mQ/e/gc46BkpeXp3fnOnCpO2R+AYF9GoU18DQamV+cS2cDNavlMBdbOMH7ZjKK0jhkFnYKQgIaIUQ8Kx/AiFvjypp7GiXXMXT7KZMjFaA5WWN2rYQCaHSwmLhbjReFLz6eNE6QazCWyF/9yxQ8hGn6W9Dqqwx0vqVi63WgbA7lPielLsId3Ian92SZyDitleDWQdXxux3rwe0l+hF75WFDFwxqsuivDiER37IXC74yx/D4YsdbhPJ08XLOonsmAYD89ni5BSfHGaepKFbLMJp2aDlz4Zt/oEQ+5+1kmVDlt5RoE8+2T7vQmVZa8ATPt68tGQ4vDmzzwLfhXWKhhLep3nd0FtgebrpV6p8HpLyxWuMMkbzmEoDmdq5LFzT9WfadCq6jzChJdFgmKtgFRHRHJ+g+94uWNJg/MxUGSB8siR3g86InGgPDGiN8wuOS3GCRDRN/is5Gj3qnGxI67tA1upFdOffQBahbWBoZj8W7UoSOfsmwFOu0g17nb/u5Sw4cp42ifDhLHDBAb9dmdocahGhmbGxqZTKtuPVAaKYCVJGhvRiHig7Pt3MxldyOj5Ic2LDFO1Uqie7IVFmtto22jUqZC2S4AMfOEWHUnh6H5K9oHgV3hKFtccJ/L/GdxAeQnoyG/IKpKK2qNXhhhqJME="
services:
  - docker

before_script:
  - curl https://cli-assets.heroku.com/install.sh | sh
  - docker login --username $docker_login --password $docker_password

script:

  # Docker TEST Build the Image
  - docker build --target test --tag todoapp:test .

  # Docker Run Unit Test
  - echo "Running Unit Tests"
  - docker run todoapp:test test_view_model.py

  # Docker Run Integration tests 
  - echo "Running Integration Tests"
  #- docker run todoapp:test test_todoapp.py

  # Docker Run E2E 
  - echo "Running E2E Tests"
  - docker run -e MONGO_DB_NAME=$MONGO_DB_NAME -e MONGO_CONN=$MONGO_CONN -e MONGO_LIST_TODO=$MONGO_LIST_TODO -e MONGO_LIST_INPROGRESS=$MONGO_LIST_INPROGRESS -e MONGO_LIST_DONE=$MONGO_LIST_DONE todoapp:test test_mongo.py

  # Docker PRODUCTION Build and Push 
  - docker build --target production --tag $docker_login/todoapp:latest .
  - docker push $docker_login/todoapp:latest

  # Docker Pull latest image & Tag
  - echo "Pull image from Dockerhub and Tag"
  - docker pull $docker_login/todoapp:latest     
  - docker tag $docker_login/todoapp:latest registry.heroku.com/rajrahmantodoapp/web

  # Trigger Azure Deploy
  - curl -dH -X POST $mongo_connection

# Release image in Heroku
deploy:
  provider: script
  script: heroku container:release web --app rajrahmantodoapp
  on:
      all_branches: true
