{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Your Tasks</h2>
      <ul class="list-group mb-4">
    {% for card in cards %}
          <form action="/" method="get">
            <li><b> {{ card }} </b>   <button type="submit"> Click here for - <b> {{ card }} </b>- information </button></li>
        </form>
    {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <h2>Create a New Task</h2>
    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="title">Enter title of task  : </label>
        <input type="text" name="title" id="title" required>
        <select name="idList">
      {% for name in lists.keys() %}
          <option value="{{ lists[name] }}">{{ name }}</option>
      {% endfor %}
        </select>
      <div class="form-example">
        <input type="submit" value="Add Task">
      </div>
    </form>
  </div>
</div>
</div>     
    <form action="/" method="get">
      <button type="submit"> Click here for to return to index </button>
    </form>
{% endblock %}