{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Your Tasks</h2>
      <ul class="list-group mb-4">
    {% for card in cards %}
          <form action="/" method="get">
            <li><b> {{ card }} </b>   <button type="submit"> Click here for - <b> {{ card }} </b>- information </button></li>
        </form>
    {% endfor %}
      </ul>
    </div>
  </div>
  <a href="/add">Create New Card</a>
  <form action="/" method="post">
    <button type="submit"> Click here for to return to index </button>
</form>
{% endblock %}