{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items  %}
      
        <li> Id: {{item.id}} Title: {{ item.title}} Status: {{item.status}}</li>
        <form  action="/movecarddoing" method ='POST'>
          <input type ="hidden" name= "id" value = "{{item.id}}"/>
          <input type= "submit" value = "Move Card To Doing"/>
        </form>
        <form  action="/movecarddone" method ='POST'>
          <input type ="hidden" name= "id" value = "{{item.id}}"/>
          <input type= "submit" value = "Move Card To Done"/>
        </form>
        <form  action="/deletecard" method ='POST'>
          <input type ="hidden" name= "id" value = "{{item.id}}"/>
          <input type= "submit" value = "Delete Card"/>
        </form>
        {% endfor %}
      </ul>
      <form  action="/additem" method ='POST'>
        <input type =text name= "title"/>
        <input type = "submit" value ="Submit"/> 
      </form>

      
    </div>
  </div>
{% endblock %}