{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <FORM action="http://localhost:5000/add_todo_item" method="post">
      <P>
        <LABEL for="newitem">Add item: </LABEL>
        <INPUT type="text" name="newitem" id="newitem">
        <INPUT type="submit" value="submit"> <INPUT type="reset">
      </P>
   </FORM>
  </div>

  
  <div class="row">
    <table style="width:80%">
      <tr>
        <th>Item</th>
        <th>Status</th> 
        <th>Delete</th>
      </tr>
       {% for item in items %}
         <tr>
           <td>{{ item.title }}</td>
           <td>{{ item.status }}</td> 
           <td>Delete</td>
         </tr>
       {% endfor %} 
    </table>
  </div>
{% endblock %}