{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Your Lists</h2>
      <ul class="list-group mb-4">
    {% for list in lists %}
          <form action="/" method="get">
            <li><b> {{ list }} </b>   <button type="submit"> Go to List </button></li>
        </form>
    {% endfor %}
      </ul>
    </div>
  </div>
  <form action="/" method="get">
    <button type="submit"> Click here for to return to index </button>
</form>
<button type="button">Create New List</button></li>
{% endblock %}