{% extends "layout.html" %}
{% block title %}Lindsey's To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 style="color:#cf78a8" class="display-3">LINDSEY'S TO-DO APP &#128525;</h1> 
    <Hr color="pink"></Hr>
      <p style="color: rgb(122, 67, 97)" class="lead">Lindsey Raven &#128151;</p>
      
<div class="row">
    <div class="col-md-12">
      <h2 style="color:#e4acca" >Lindsey's Items</h2>
        <ul class="list-group mb-4">
          <br/>
          <!-- List / Delete form -->
            {% for todo in todos %}
              <li class="list-group-item" style="color-interpolation-filters: initial;">
                {{todo.title}} <br/>
                <span class="badge badge-secondary" style="background-color:rgb(202, 141, 192)">{{todo.id}}</span>
                <span class="badge badge-warning" style="background-color:hsl(323, 30%, 62%)">{{todo.status}}</span>
                <div class="btn-group float-right" role="group" aria-label="item actions">           
             

                <form action="/delete-todo" method="POST">
                    <input type="hidden" name="todo_id" value='{{ todo.id }}'>
                    <input type="submit" class="btn btn-dark btn-lg" style="color:#e4acca !important" value="Delete"> 
                </form>
        
            {% endfor %}
        </div>
        
        <!-- ADD fORM -->

        <div class="col-md-12 text-center">
          <form action="/add-todo" method="POST">
            <br/>
              <label for="name">&#128151;Enter your todo name: </label>
              <input type="text" name="name" id="name">
            <input type="submit" class="btn btn-dark btn-lg" style="color:#e4acca !important" value="Submit"> 
          </form>
        </div> 
</div>
{% endblock %}