{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 style="color: blue" class="display-4">To-Do App</h1>
    <p style="color: blue" class="lead">Just another to-do app.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 style="color: blue" class="display-6">Items </h2>
        <ul class="list-group mb-4">
            <h6>
                {{ item.title }} - {{ item.status }}
                <a href="/" class="btn btn-danger">Item to Delete</a>
                <a href="/" >Back</a>
            </h6>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="/delete_item/{{items.id}}" method="POST"></form>
            <button type="submit" class="btn btn-success">Complete Item</button>
        </form>
        <br>
        <form action="/delete_item/{{items.id}}" method="POST"></form>
            <button type="submit" class="btn btn-danger">Delete Item</button>
        </form>
    </div>
</div>
</div>
{% endblock %}