{% extends 'layout.html'  %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 style="color: blue" class="display-4">To-Do App</h1>
    <p style="color: blue" class="lead">Just another to-do app.</p>
</div>
<div class="well text-container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: blue">Todo Items:</h4>
            <ul class="list-group mb-4">
                <h6>
                    {% for todo in todos %}
                    {{todo["name"]}} - {{todo["desc"]}}
                    <form action="/todo" method="POST">
                    <input type="hidden" name="item_id" value="{{TODO_CARD_ID}}">
                    </form>
                    {% endfor %}
                </h6>
            </ul>
        </div>
    <div>
</div>
{% endblock %}